# ==============================================================================
# Automatisiertes CV-Projekt - GitIgnore
# ==============================================================================

# 1. Projekt-Spezifische Ignorierungen
# ------------------------------------------------------------------------------
output/

logs/*.log

data/*.json
!data/template_data.json

assets/*.jpg
assets/*.png

!assets/mail.png
!assets/phone.png
!assets/pin.png
!assets/portrait.png


# 2. Virtuelle Umgebungen (Python venv)
# ------------------------------------------------------------------------------
venv/
.venv/
env/


# 3. Python-Systemdateien (Byte-Code & Caches)
# ------------------------------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/


# 4. Betriebssystem-Spezifische Dateien
# ------------------------------------------------------------------------------
.DS_Store
Thumbs.db